! | COLOR SCHEME |

! special
*.foreground:   #d7e3d8
*.background:   #151515
*.cursorColor:  #d7e3d8

! black
*.color0:       #030403
*.color8:       #dea3da

! red
*.color1:       #121312
*.color9:       #98acd2

! green
*.color2:       #232523
*.color10:      #69b5b4

! yellow
*.color3:       #3a3e3b
*.color11:      #81c8c7

! blue
*.color4:       #595e59
*.color12:      #ab9d74

! magenta
*.color5:       #7d857e
*.color13:      #7cb682

! cyan
*.color6:       #a8b2a9
*.color14:      #de7d7f

! white
*.color7:       #dbe5dc
*.color15:      #71d07d
